.search {
  border: 4px solid rgb(242, 255, 0);
  background-color: rgba(218, 231, 36, 0.274);
  text-align: right;
}
.searchbutton{
    border: 4px solid rgb(29, 29, 25);
    background-color: rgba(218, 231, 36, 0.756);
    padding: 1px;
    margin-left: 10em;
}